body{
    /* background: linear-gradient(rgba(0,0,0,0,6),rgba(0,0,0,0,6)),url(pexels-marek-piwnicki-3907296-18998067.jpg); */
    background-image: url(pexels-marek-piwnicki-3907296-18998067.jpg);
    background-size: 2500px;
    background-repeat: no-repeat;
}
.services{
    
}