@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #a5bdd3;
}
.container{
    position: relative;
    background-image: url("images/pexels-pixabay-459277.jpg");
    padding: 50px;
    margin: 160px;
    border-radius: 28px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}
header, .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo img{
    width: 48px;
    margin-left: -30px;
}
h5{
    color: white;
    font-weight: 600;
    font-size: 16px;
}
header .puce{
    width: 50px;
    margin-right: -30px;
}
h6{
    color: white;
    margin-left: -30px;
}
.number{
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-left: -30px;
}
.va-date{
    margin-left: -30px;
}
.name{
    margin-left: -30px;
}
.container .card-d{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -30px;
}